.modalContainer{
    border: solid;

    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 20px;
    align-items: center;
    justify-content: center;
    min-height: 280px;
    width: 380px;

    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
    border-radius: .4rem;
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.containerImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.image{
    max-width: 250px;
    max-height: 345px;
}

/* Ocultar el input */
.hiddenInput {
	display: none;
}

/* Botón visual */
.customUploadButton {
	display: inline-block;
	background-color: #0073b1;
	color: white;
	padding: 10px 20px;
	border-radius: 6px;
	cursor: pointer;
	transition: background 0.3s ease;
	user-select: none;
}

.customUploadButton:hover {
	background-color: #005582;
}

.inputForUser{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    border-bottom: solid 0.01px #444444;
    height: 30px;
    background-color: #f3f3f3;
}

.textAreaForUser{
    min-width: 100%;
    max-width: 315px;
    min-height: 40px;
    max-height: 200px;
    text-align: center;

    padding: 10px;
    border: none;
    border-bottom: solid 0.01px #444444;
    background-color: #f3f3f3;

}

.containerButtons{
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.containerButtons button{
    width: 100px;
}

.modalBackdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}